/* This is the CSS file for YOUR Web Box*/
html {
    background: #485354;
}

body {
    background-color: #485354;
}

.corner {
	height: 10px;
	width: 10px;
	border-radius: 50%;
	border: 3px solid green;
	position: absolute;
	z-index: 10;
}

.topLeft {
	top: -5px;
	left: -5px;
	cursor: nw-resize;
}

.topRight {
	top: -5px;
	right: -5px;
	cursor: ne-resize;
}

.bottomLeft {
	bottom: -5px;
	left: -5px;
	cursor: sw-resize;
}

.bottomRight {
	bottom: -5px;
	right: -5px;
	cursor: se-resize;
}

.WebBox {
	position: absolute;
	height: 100px;
	width: 100px;
	background-color: red;
}